<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="pythonCommand" type="xstring" value=""/>
        <config key="sentenceColumn_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="sentenceColumn" type="xstring" value=""/>
        <config key="maxSeqLength_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="maxSeqLength" type="xint" value="128"/>
        <config key="classColumn_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="classColumn" type="xstring" value=""/>
        <config key="epochs_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="epochs" type="xint" value="1"/>
        <config key="validationBatchSize_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="validationBatchSize" type="xint" value="20"/>
        <config key="batchSize_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="batchSize" type="xint" value="20"/>
        <config key="fineTuneBert_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="fineTuneBert" type="xboolean" value="false"/>
        <config key="optimizer">
            <entry key="type" type="xstring" value="ADAM"/>
            <config key="learning_rate_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="learning_rate" type="xdouble" value="0.001"/>
            <config key="beta_1_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="beta_1" type="xdouble" value="0.9"/>
            <config key="beta_2_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="beta_2" type="xdouble" value="0.999"/>
            <config key="epsilon_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="epsilon" type="xdouble" value="1.0E-7"/>
            <config key="amsgrad_Internals">
                <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
                <entry key="EnabledStatus" type="xboolean" value="true"/>
            </config>
            <entry key="amsgrad" type="xboolean" value="false"/>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="se.redfield.bert.nodes.classifier.BertClassifierNodeFactory"/>
    <entry key="node-name" type="xstring" value="BERT Classification Learner"/>
    <entry key="node-bundle-name" type="xstring" value="BERT extension for KNIME Workbench"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="se.redfield.bert"/>
    <entry key="node-bundle-vendor" type="xstring" value="Redfield AB"/>
    <entry key="node-bundle-version" type="xstring" value="0.2.0.v202111180712"/>
    <entry key="node-feature-name" type="xstring" value="Redfield BERT Nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="se.redfield.bert.feature.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="Redfield AB"/>
    <entry key="node-feature-version" type="xstring" value="0.2.0.v202111180712"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="BERT Classification Learner"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
