<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="455"/>
                <entry key="0" type="xstring" value="甄子丹"/>
                <entry key="1" type="xstring" value="大闹天宫"/>
                <entry key="2" type="xstring" value="粉丝"/>
                <entry key="3" type="xstring" value="孙悟空"/>
                <entry key="4" type="xstring" value="深受"/>
                <entry key="5" type="xstring" value="喜爱"/>
                <entry key="6" type="xstring" value="造型"/>
                <entry key="7" type="xstring" value="西游记"/>
                <entry key="8" type="xstring" value="影迷"/>
                <entry key="9" type="xstring" value="多"/>
                <entry key="10" type="xstring" value="福利"/>
                <entry key="11" type="xstring" value="手段"/>
                <entry key="12" type="xstring" value="制片方"/>
                <entry key="13" type="xstring" value="营销"/>
                <entry key="14" type="xstring" value="央视"/>
                <entry key="15" type="xstring" value="射雕"/>
                <entry key="16" type="xstring" value="与"/>
                <entry key="17" type="xstring" value="英雄传"/>
                <entry key="18" type="xstring" value="20"/>
                <entry key="19" type="xstring" value="以来"/>
                <entry key="20" type="xstring" value="年"/>
                <entry key="21" type="xstring" value="年版"/>
                <entry key="22" type="xstring" value="1983"/>
                <entry key="23" type="xstring" value="1986"/>
                <entry key="24" type="xstring" value="版"/>
                <entry key="25" type="xstring" value="电视剧"/>
                <entry key="26" type="xstring" value="首映式"/>
                <entry key="27" type="xstring" value="3d"/>
                <entry key="28" type="xstring" value="魔幻"/>
                <entry key="29" type="xstring" value="在京举行"/>
                <entry key="30" type="xstring" value="电影"/>
                <entry key="31" type="xstring" value="1"/>
                <entry key="32" type="xstring" value="月"/>
                <entry key="33" type="xstring" value="d版"/>
                <entry key="34" type="xstring" value="将"/>
                <entry key="35" type="xstring" value="上映"/>
                <entry key="36" type="xstring" value="imax"/>
                <entry key="37" type="xstring" value="31"/>
                <entry key="38" type="xstring" value="日"/>
                <entry key="39" type="xstring" value="简称"/>
                <entry key="40" type="xstring" value="北京"/>
                <entry key="41" type="xstring" value="举办"/>
                <entry key="42" type="xstring" value="在"/>
                <entry key="43" type="xstring" value="发布会"/>
                <entry key="44" type="xstring" value="交流"/>
                <entry key="45" type="xstring" value="观众"/>
                <entry key="46" type="xstring" value="导演"/>
                <entry key="47" type="xstring" value="首映礼"/>
                <entry key="48" type="xstring" value="全球"/>
                <entry key="49" type="xstring" value="举行"/>
                <entry key="50" type="xstring" value="片"/>
                <entry key="51" type="xstring" value="大片"/>
                <entry key="52" type="xstring" value="神话"/>
                <entry key="53" type="xstring" value="于"/>
                <entry key="54" type="xstring" value="贺岁"/>
                <entry key="55" type="xstring" value="即将"/>
                <entry key="56" type="xstring" value="大年初一"/>
                <entry key="57" type="xstring" value="奇幻"/>
                <entry key="58" type="xstring" value="曝光"/>
                <entry key="59" type="xstring" value="发"/>
                <entry key="60" type="xstring" value="2014"/>
                <entry key="61" type="xstring" value="郭富城"/>
                <entry key="62" type="xstring" value="神魔"/>
                <entry key="63" type="xstring" value="%%65306"/>
                <entry key="64" type="xstring" value="说"/>
                <entry key="65" type="xstring" value="六小龄童"/>
                <entry key="66" type="xstring" value="扮演者"/>
                <entry key="67" type="xstring" value="中"/>
                <entry key="68" type="xstring" value="问"/>
                <entry key="69" type="xstring" value="片尾曲"/>
                <entry key="70" type="xstring" value="音乐"/>
                <entry key="71" type="xstring" value="响起"/>
                <entry key="72" type="xstring" value="敢"/>
                <entry key="73" type="xstring" value="路在何方"/>
                <entry key="74" type="xstring" value="叫"/>
                <entry key="75" type="xstring" value="五行"/>
                <entry key="76" type="xstring" value="困囚"/>
                <entry key="77" type="xstring" value="山"/>
                <entry key="78" type="xstring" value="第四集"/>
                <entry key="79" type="xstring" value="古典名著"/>
                <entry key="80" type="xstring" value="熟悉"/>
                <entry key="81" type="xstring" value="朝鲜"/>
                <entry key="82" type="xstring" value="等"/>
                <entry key="83" type="xstring" value="影视剧"/>
                <entry key="84" type="xstring" value="十分"/>
                <entry key="85" type="xstring" value="改编"/>
                <entry key="86" type="xstring" value="主演"/>
                <entry key="87" type="xstring" value="难得"/>
                <entry key="88" type="xstring" value="一部"/>
                <entry key="89" type="xstring" value="今年"/>
                <entry key="90" type="xstring" value="便是"/>
                <entry key="91" type="xstring" value="以下"/>
                <entry key="92" type="xstring" value="风云"/>
                <entry key="93" type="xstring" value="桃花开"/>
                <entry key="94" type="xstring" value="澳门"/>
                <entry key="95" type="xstring" value="大寒"/>
                <entry key="96" type="xstring" value="天后"/>
                <entry key="97" type="xstring" value="原著"/>
                <entry key="98" type="xstring" value="小说"/>
                <entry key="99" type="xstring" value="蓝本"/>
                <entry key="100" type="xstring" value="为"/>
                <entry key="101" type="xstring" value="八回"/>
                <entry key="102" type="xstring" value="前"/>
                <entry key="103" type="xstring" value="剧照"/>
                <entry key="104" type="xstring" value="影片"/>
                <entry key="105" type="xstring" value="成为"/>
                <entry key="106" type="xstring" value="首部"/>
                <entry key="107" type="xstring" value="亿"/>
                <entry key="108" type="xstring" value="首日"/>
                <entry key="109" type="xstring" value="过"/>
                <entry key="110" type="xstring" value="国产"/>
                <entry key="111" type="xstring" value="票房"/>
                <entry key="112" type="xstring" value="人"/>
                <entry key="113" type="xstring" value="无疑"/>
                <entry key="114" type="xstring" value="承载"/>
                <entry key="115" type="xstring" value="企盼"/>
                <entry key="116" type="xstring" value="许多"/>
                <entry key="117" type="xstring" value="席卷"/>
                <entry key="118" type="xstring" value="海报"/>
                <entry key="119" type="xstring" value="马年"/>
                <entry key="120" type="xstring" value="档"/>
                <entry key="121" type="xstring" value="春节"/>
                <entry key="122" type="xstring" value="这部"/>
                <entry key="123" type="xstring" value="文化"/>
                <entry key="124" type="xstring" value="中国"/>
                <entry key="125" type="xstring" value="希望"/>
                <entry key="126" type="xstring" value="保留"/>
                <entry key="127" type="xstring" value="元素"/>
                <entry key="128" type="xstring" value="郑宝瑞"/>
                <entry key="129" type="xstring" value="超过"/>
                <entry key="130" type="xstring" value="亿元"/>
                <entry key="131" type="xstring" value="已经"/>
                <entry key="132" type="xstring" value="累计"/>
                <entry key="133" type="xstring" value="10"/>
                <entry key="134" type="xstring" value="目前"/>
                <entry key="135" type="xstring" value="这"/>
                <entry key="136" type="xstring" value="很火"/>
                <entry key="137" type="xstring" value="片子"/>
                <entry key="138" type="xstring" value="三部"/>
                <entry key="139" type="xstring" value="外"/>
                <entry key="140" type="xstring" value="公映"/>
                <entry key="141" type="xstring" value="除"/>
                <entry key="142" type="xstring" value="经典"/>
                <entry key="143" type="xstring" value="永恒"/>
                <entry key="144" type="xstring" value="国人"/>
                <entry key="145" type="xstring" value="心中"/>
                <entry key="146" type="xstring" value="晚会"/>
                <entry key="147" type="xstring" value="把"/>
                <entry key="148" type="xstring" value="后来"/>
                <entry key="149" type="xstring" value="扛起来"/>
                <entry key="150" type="xstring" value="一起"/>
                <entry key="151" type="xstring" value="就是"/>
                <entry key="152" type="xstring" value="杨洁"/>
                <entry key="153" type="xstring" value="有"/>
                <entry key="154" type="xstring" value="他"/>
                <entry key="155" type="xstring" value="戏份"/>
                <entry key="156" type="xstring" value="不多"/>
                <entry key="157" type="xstring" value="取材自"/>
                <entry key="158" type="xstring" value="毕竟"/>
                <entry key="159" type="xstring" value="但"/>
                <entry key="160" type="xstring" value="总导演"/>
                <entry key="161" type="xstring" value="曾"/>
                <entry key="162" type="xstring" value="成"/>
                <entry key="163" type="xstring" value="眼神"/>
                <entry key="164" type="xstring" value="地方"/>
                <entry key="165" type="xstring" value="最"/>
                <entry key="166" type="xstring" value="出彩"/>
                <entry key="167" type="xstring" value="病逝"/>
                <entry key="168" type="xstring" value="六龄童"/>
                <entry key="169" type="xstring" value="确认"/>
                <entry key="170" type="xstring" value="晚"/>
                <entry key="171" type="xstring" value="刚发"/>
                <entry key="172" type="xstring" value="失去"/>
                <entry key="173" type="xstring" value="莫过于"/>
                <entry key="174" type="xstring" value="帮助"/>
                <entry key="175" type="xstring" value="儿子"/>
                <entry key="176" type="xstring" value="推荐"/>
                <entry key="177" type="xstring" value="最大"/>
                <entry key="178" type="xstring" value="向"/>
                <entry key="179" type="xstring" value="正如"/>
                <entry key="180" type="xstring" value="一说到"/>
                <entry key="181" type="xstring" value="其子"/>
                <entry key="182" type="xstring" value="再"/>
                <entry key="183" type="xstring" value="今年初"/>
                <entry key="184" type="xstring" value="加上"/>
                <entry key="185" type="xstring" value="一"/>
                <entry key="186" type="xstring" value="刘桦"/>
                <entry key="187" type="xstring" value="里"/>
                <entry key="188" type="xstring" value="前天"/>
                <entry key="189" type="xstring" value="全国"/>
                <entry key="190" type="xstring" value="首映"/>
                <entry key="191" type="xstring" value="本"/>
                <entry key="192" type="xstring" value="家里"/>
                <entry key="193" type="xstring" value="来"/>
                <entry key="194" type="xstring" value="建议"/>
                <entry key="195" type="xstring" value="拍"/>
                <entry key="196" type="xstring" value="听"/>
                <entry key="197" type="xstring" value="我"/>
                <entry key="198" type="xstring" value="经常"/>
                <entry key="199" type="xstring" value="―"/>
                <entry key="200" type="xstring" value="告诉"/>
                <entry key="201" type="xstring" value="成长"/>
                <entry key="202" type="xstring" value="超级"/>
                <entry key="203" type="xstring" value="信息"/>
                <entry key="204" type="xstring" value="非常"/>
                <entry key="205" type="xstring" value="英雄"/>
                <entry key="206" type="xstring" value="和"/>
                <entry key="207" type="xstring" value="会集"/>
                <entry key="208" type="xstring" value="靠"/>
                <entry key="209" type="xstring" value="想象"/>
                <entry key="210" type="xstring" value="不仅"/>
                <entry key="211" type="xstring" value="周润发"/>
                <entry key="212" type="xstring" value="华语"/>
                <entry key="213" type="xstring" value="众多"/>
                <entry key="214" type="xstring" value="演戏"/>
                <entry key="215" type="xstring" value="自言"/>
                <entry key="216" type="xstring" value="直接"/>
                <entry key="217" type="xstring" value="对撞"/>
                <entry key="218" type="xstring" value="因"/>
                <entry key="219" type="xstring" value="家喻户晓"/>
                <entry key="220" type="xstring" value="章"/>
                <entry key="221" type="xstring" value="金莱"/>
                <entry key="222" type="xstring" value="冠军"/>
                <entry key="223" type="xstring" value="稳夺"/>
                <entry key="224" type="xstring" value="国产片"/>
                <entry key="225" type="xstring" value="ipad"/>
                <entry key="226" type="xstring" value="上"/>
                <entry key="227" type="xstring" value="看"/>
                <entry key="228" type="xstring" value="先生"/>
                <entry key="229" type="xstring" value="博乐"/>
                <entry key="230" type="xstring" value="节目"/>
                <entry key="231" type="xstring" value="剧组"/>
                <entry key="232" type="xstring" value="微逗秀"/>
                <entry key="233" type="xstring" value="播出"/>
                <entry key="234" type="xstring" value="1987"/>
                <entry key="235" type="xstring" value="突然"/>
                <entry key="236" type="xstring" value="后"/>
                <entry key="237" type="xstring" value="销声匿迹"/>
                <entry key="238" type="xstring" value="完"/>
                <entry key="239" type="xstring" value="哪儿"/>
                <entry key="240" type="xstring" value="特效"/>
                <entry key="241" type="xstring" value="双双"/>
                <entry key="242" type="xstring" value="助推"/>
                <entry key="243" type="xstring" value="爸爸"/>
                <entry key="244" type="xstring" value="真人秀"/>
                <entry key="245" type="xstring" value="下"/>
                <entry key="246" type="xstring" value="去"/>
                <entry key="247" type="xstring" value="牛魔王"/>
                <entry key="248" type="xstring" value="却"/>
                <entry key="249" type="xstring" value="配角"/>
                <entry key="250" type="xstring" value="饰演"/>
                <entry key="251" type="xstring" value="投资"/>
                <entry key="252" type="xstring" value="—"/>
                <entry key="253" type="xstring" value="数亿元"/>
                <entry key="254" type="xstring" value="神秘"/>
                <entry key="255" type="xstring" value="终于"/>
                <entry key="256" type="xstring" value="号称"/>
                <entry key="257" type="xstring" value="农历"/>
                <entry key="258" type="xstring" value="》将"/>
                <entry key="259" type="xstring" value="片方供"/>
                <entry key="260" type="xstring" value="图"/>
                <entry key="261" type="xstring" value="夏梓桐"/>
                <entry key="262" type="xstring" value="表现"/>
                <entry key="263" type="xstring" value="可圈可点"/>
                <entry key="264" type="xstring" value="汇聚"/>
                <entry key="265" type="xstring" value="最强"/>
                <entry key="266" type="xstring" value="对戏"/>
                <entry key="267" type="xstring" value="争夺"/>
                <entry key="268" type="xstring" value="激烈"/>
                <entry key="269" type="xstring" value="展开"/>
                <entry key="270" type="xstring" value="喷绘"/>
                <entry key="271" type="xstring" value="86"/>
                <entry key="272" type="xstring" value="唐僧"/>
                <entry key="273" type="xstring" value="并"/>
                <entry key="274" type="xstring" value="大家"/>
                <entry key="275" type="xstring" value="现场"/>
                <entry key="276" type="xstring" value="西游"/>
                <entry key="277" type="xstring" value="档将映"/>
                <entry key="278" type="xstring" value="喜气"/>
                <entry key="279" type="xstring" value="自己"/>
                <entry key="280" type="xstring" value="男人"/>
                <entry key="281" type="xstring" value="部"/>
                <entry key="282" type="xstring" value="戏"/>
                <entry key="283" type="xstring" value="应该"/>
                <entry key="284" type="xstring" value="今昔对比"/>
                <entry key="285" type="xstring" value="三位"/>
                <entry key="286" type="xstring" value="徐少华"/>
                <entry key="287" type="xstring" value="妈去"/>
                <entry key="288" type="xstring" value="拉动"/>
                <entry key="289" type="xstring" value="得益于"/>
                <entry key="290" type="xstring" value="四架"/>
                <entry key="291" type="xstring" value="爱情故事"/>
                <entry key="292" type="xstring" value="恐怕"/>
                <entry key="293" type="xstring" value="恶搞"/>
                <entry key="294" type="xstring" value="同一天"/>
                <entry key="295" type="xstring" value="戏称"/>
                <entry key="296" type="xstring" value="影视作品"/>
                <entry key="297" type="xstring" value="关于"/>
                <entry key="298" type="xstring" value="自小"/>
                <entry key="299" type="xstring" value="很多"/>
                <entry key="300" type="xstring" value="老版"/>
                <entry key="301" type="xstring" value="整列"/>
                <entry key="302" type="xstring" value="布满"/>
                <entry key="303" type="xstring" value="列车"/>
                <entry key="304" type="xstring" value="内外"/>
                <entry key="305" type="xstring" value="全部"/>
                <entry key="306" type="xstring" value="被"/>
                <entry key="307" type="xstring" value="旗号"/>
                <entry key="308" type="xstring" value="称为"/>
                <entry key="309" type="xstring" value="甚至"/>
                <entry key="310" type="xstring" value="部分"/>
                <entry key="311" type="xstring" value="电视"/>
                <entry key="312" type="xstring" value="风景区"/>
                <entry key="313" type="xstring" value="取景"/>
                <entry key="314" type="xstring" value="昆明"/>
                <entry key="315" type="xstring" value="得名"/>
                <entry key="316" type="xstring" value="此"/>
                <entry key="317" type="xstring" value="洞"/>
                <entry key="318" type="xstring" value="拍摄"/>
                <entry key="319" type="xstring" value="连续剧"/>
                <entry key="320" type="xstring" value="全新"/>
                <entry key="321" type="xstring" value="熠熠"/>
                <entry key="322" type="xstring" value="演员阵容"/>
                <entry key="323" type="xstring" value="演绎出"/>
                <entry key="324" type="xstring" value="星光"/>
                <entry key="325" type="xstring" value="遭遇"/>
                <entry key="326" type="xstring" value="档遭"/>
                <entry key="327" type="xstring" value="攻略"/>
                <entry key="328" type="xstring" value="前任"/>
                <entry key="329" type="xstring" value="档受"/>
                <entry key="330" type="xstring" value="父亲"/>
                <entry key="331" type="xstring" value="之父"/>
                <entry key="332" type="xstring" value="朱琳"/>
                <entry key="333" type="xstring" value="主持人"/>
                <entry key="334" type="xstring" value="开机"/>
                <entry key="335" type="xstring" value="担任"/>
                <entry key="336" type="xstring" value="女儿国"/>
                <entry key="337" type="xstring" value="中演"/>
                <entry key="338" type="xstring" value="国王"/>
                <entry key="339" type="xstring" value="承袭"/>
                <entry key="340" type="xstring" value="有些"/>
                <entry key="341" type="xstring" value="旧版"/>
                <entry key="342" type="xstring" value="公开"/>
                <entry key="343" type="xstring" value="媒体"/>
                <entry key="344" type="xstring" value="中影"/>
                <entry key="345" type="xstring" value="期待已久"/>
                <entry key="346" type="xstring" value="会"/>
                <entry key="347" type="xstring" value="首个"/>
                <entry key="348" type="xstring" value="电影院"/>
                <entry key="349" type="xstring" value="专电"/>
                <entry key="350" type="xstring" value="本报"/>
                <entry key="351" type="xstring" value="竞宇"/>
                <entry key="352" type="xstring" value="马"/>
                <entry key="353" type="xstring" value="片方"/>
                <entry key="354" type="xstring" value="战版"/>
                <entry key="355" type="xstring" value="丁晓晨"/>
                <entry key="356" type="xstring" value="推出"/>
                <entry key="357" type="xstring" value="三款"/>
                <entry key="358" type="xstring" value="记者"/>
                <entry key="359" type="xstring" value="档期"/>
                <entry key="360" type="xstring" value="电影票"/>
                <entry key="361" type="xstring" value="此次"/>
                <entry key="362" type="xstring" value="微信"/>
                <entry key="363" type="xstring" value="合作"/>
                <entry key="364" type="xstring" value="还"/>
                <entry key="365" type="xstring" value="登陆"/>
                <entry key="366" type="xstring" value="答案"/>
                <entry key="367" type="xstring" value="给出"/>
                <entry key="368" type="xstring" value="顶级"/>
                <entry key="369" type="xstring" value="释本"/>
                <entry key="370" type="xstring" value="第一款"/>
                <entry key="371" type="xstring" value="国际"/>
                <entry key="372" type="xstring" value="特辑"/>
                <entry key="373" type="xstring" value="幕后"/>
                <entry key="374" type="xstring" value="一众"/>
                <entry key="375" type="xstring" value="史上"/>
                <entry key="376" type="xstring" value="玉皇大帝"/>
                <entry key="377" type="xstring" value="气场"/>
                <entry key="378" type="xstring" value="玉帝"/>
                <entry key="379" type="xstring" value="研究"/>
                <entry key="380" type="xstring" value="仔细"/>
                <entry key="381" type="xstring" value="摆"/>
                <entry key="382" type="xstring" value="一个"/>
                <entry key="383" type="xstring" value="播放"/>
                <entry key="384" type="xstring" value="面前"/>
                <entry key="385" type="xstring" value="通常"/>
                <entry key="386" type="xstring" value="速度"/>
                <entry key="387" type="xstring" value="期望"/>
                <entry key="388" type="xstring" value="当年"/>
                <entry key="389" type="xstring" value="赶不上"/>
                <entry key="390" type="xstring" value="由于"/>
                <entry key="391" type="xstring" value="这位"/>
                <entry key="392" type="xstring" value="软弱"/>
                <entry key="393" type="xstring" value="历来"/>
                <entry key="394" type="xstring" value="无为"/>
                <entry key="395" type="xstring" value="一改"/>
                <entry key="396" type="xstring" value="形象"/>
                <entry key="397" type="xstring" value="体"/>
                <entry key="398" type="xstring" value="仍然"/>
                <entry key="399" type="xstring" value="宣传"/>
                <entry key="400" type="xstring" value="片名"/>
                <entry key="401" type="xstring" value="美影厂"/>
                <entry key="402" type="xstring" value="用"/>
                <entry key="403" type="xstring" value="美术字"/>
                <entry key="404" type="xstring" value="终极"/>
                <entry key="405" type="xstring" value="香港"/>
                <entry key="406" type="xstring" value="可以"/>
                <entry key="407" type="xstring" value="王子"/>
                <entry key="408" type="xstring" value="红色"/>
                <entry key="409" type="xstring" value="狮子王"/>
                <entry key="410" type="xstring" value="红楼梦"/>
                <entry key="411" type="xstring" value="如"/>
                <entry key="412" type="xstring" value="猎杀"/>
                <entry key="413" type="xstring" value="十月"/>
                <entry key="414" type="xstring" value="作为"/>
                <entry key="415" type="xstring" value="新春"/>
                <entry key="416" type="xstring" value="19"/>
                <entry key="417" type="xstring" value="巨制"/>
                <entry key="418" type="xstring" value="第三款"/>
                <entry key="419" type="xstring" value="制作"/>
                <entry key="420" type="xstring" value="发布"/>
                <entry key="421" type="xstring" value="之一"/>
                <entry key="422" type="xstring" value="迟"/>
                <entry key="423" type="xstring" value="重瑞"/>
                <entry key="424" type="xstring" value="未经许可"/>
                <entry key="425" type="xstring" value="珠玉在前"/>
                <entry key="426" type="xstring" value="还有"/>
                <entry key="427" type="xstring" value="而且"/>
                <entry key="428" type="xstring" value="上海"/>
                <entry key="429" type="xstring" value="动画片"/>
                <entry key="430" type="xstring" value="国内"/>
                <entry key="431" type="xstring" value="褒贬不一"/>
                <entry key="432" type="xstring" value="都"/>
                <entry key="433" type="xstring" value="记得"/>
                <entry key="434" type="xstring" value="小时候"/>
                <entry key="435" type="xstring" value="太太"/>
                <entry key="436" type="xstring" value="看过"/>
                <entry key="437" type="xstring" value="连"/>
                <entry key="438" type="xstring" value="座谈会"/>
                <entry key="439" type="xstring" value="昨日"/>
                <entry key="440" type="xstring" value="香港浸会大学"/>
                <entry key="441" type="xstring" value="众星"/>
                <entry key="442" type="xstring" value="救市"/>
                <entry key="443" type="xstring" value="云集"/>
                <entry key="444" type="xstring" value="寄予"/>
                <entry key="445" type="xstring" value="厚望"/>
                <entry key="446" type="xstring" value="很多遍"/>
                <entry key="447" type="xstring" value="除了"/>
                <entry key="448" type="xstring" value="执导"/>
                <entry key="449" type="xstring" value="首次"/>
                <entry key="450" type="xstring" value="大"/>
                <entry key="451" type="xstring" value="这么"/>
                <entry key="452" type="xstring" value="发出"/>
                <entry key="453" type="xstring" value="第二"/>
                <entry key="454" type="xstring" value="Document class"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="34"/>
                <entry key="0" type="xstring" value="Document"/>
                <entry key="1" type="xstring" value="的"/>
                <entry key="2" type="xstring" value="之"/>
                <entry key="3" type="xstring" value=")"/>
                <entry key="4" type="xstring" value="("/>
                <entry key="5" type="xstring" value="%%65292"/>
                <entry key="6" type="xstring" value="》"/>
                <entry key="7" type="xstring" value="《"/>
                <entry key="8" type="xstring" value="而"/>
                <entry key="9" type="xstring" value="则"/>
                <entry key="10" type="xstring" value="更"/>
                <entry key="11" type="xstring" value="“"/>
                <entry key="12" type="xstring" value="更是"/>
                <entry key="13" type="xstring" value="近日"/>
                <entry key="14" type="xstring" value="也"/>
                <entry key="15" type="xstring" value="是"/>
                <entry key="16" type="xstring" value="、"/>
                <entry key="17" type="xstring" value="了"/>
                <entry key="18" type="xstring" value="。"/>
                <entry key="19" type="xstring" value="3"/>
                <entry key="20" type="xstring" value="昨天"/>
                <entry key="21" type="xstring" value="-"/>
                <entry key="22" type="xstring" value="以"/>
                <entry key="23" type="xstring" value=","/>
                <entry key="24" type="xstring" value="%%65288"/>
                <entry key="25" type="xstring" value="%%65289"/>
                <entry key="26" type="xstring" value="】"/>
                <entry key="27" type="xstring" value="【"/>
                <entry key="28" type="xstring" value="@"/>
                <entry key="29" type="xstring" value="%%65307"/>
                <entry key="30" type="xstring" value="z"/>
                <entry key="31" type="xstring" value="10.44"/>
                <entry key="32" type="xstring" value="·"/>
                <entry key="33" type="xstring" value="content"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.ext.textprocessing.data.DocumentValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.1.v202201171147"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.1.v202201171200"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Filter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 300, Cols: 2254"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="544f4e34-c51b-46f7-94ce-784d8c81b810"/>
    </config>
</config>
